.membercard {
  border: 1px solid black;
  width: 20%;
}
.membercard {
  padding: 15px;
}
.membercard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
body {
  padding: 0;
  margin: 0;
}
.memberlist {
  padding: 15px;
  display: flex;
  gap: 15px;
}
